parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Models\\Order\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Pages/ThankYouController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProductsController.php

		-
			message: '#^Parameter \$to of class Illuminate\\Mail\\Mailables\\Envelope constructor expects array\<int, Illuminate\\Mail\\Mailables\\Address\|string\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Mail/Enduser/OrderCreatedMail.php

		-
			message: '#^Method App\\Repositories\\OrderRepository\:\:create\(\) should return App\\Models\\Order\|false but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Repositories/OrderRepository.php

		-
			message: '#^Parameter \#1 \$order of method App\\Repositories\\OrderRepository\:\:addProductsToOrder\(\) expects App\\Models\\Order, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Repositories/OrderRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:validated\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: app/Repositories/ProductsRepository.php

		-
			message: '#^Binary operation "\*" between int and Illuminate\\Database\\Eloquent\\Casts\\Attribute results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 3
			path: app/Services/InvoiceService.php
